<!DOCTYPE html><html xmlns="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
<title>Employee Home</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
#div{
	width:600px;
	height:auto;
	margin:auto;
	margin-top:100px;
}
body {
  background-image: url("https://static.scientificamerican.com/sciam/cache/file/B73C6A04-9155-44EC-B80AA2B5E9E62508.jpg");
  background-position: center;
  background-repeat: repeat-Y;
  background-size: cover;
}

</style>
</head>
<body>   Welcome to Employee Home!
<br><br>
<div align="center" id="div">
<a href="/bookList"><button class="btn bg-danger text-light">Book Management</button></a> <br><br>
<a href="/authBookList"><button class="btn bg-primary text-light">Work Gallery</button></a> <br><br> 

<a href="/authList"><button class="btn bg-primary text-light">Author Gallery</button></a> <br><br> 

<a href="/copyList"><button class="btn bg-info text-light">Copy Management</button></a><br><br>

<a href="/rentalRecords"><button class="btn bg-success text-light">Rental Management</button></a> <br><br> 

<a href="/invoices"><button class="btn bg-success text-light">Invoice Management</button></a> <br><br> 

<a href="/payments"><button class="btn bg-warning text-light">Payment Management</button></a> <br><br> 

<a href="/eventList"><button class="btn bg-warning text-light">Event Management</button></a> 
 <br>
<a href="/regiList"><button class="btn bg-warning">Exhibition Registration Management</button></a> 
<a href="/inviList"><button class="btn bg-warning">Seminar Invitation Management</button></a>  


 <br> <br>
<a href="/resvList"><button class="btn bg-secondary text-light">Study Room Reservation Management</button></a>  

 <br> <br>
<a href="/sponsorList"><button class="btn bg-dark text-light">Sponsor Management</button></a> 
<a href="/topicList"><button class="btn bg-dark text-light">Topic Management</button></a> 
<a href="/roomList"><button class="btn btn-secondary">Study Room Management</button></a> 
 <br><br> 
<a href="/empProfile"><button class="btn bg-secondary text-light">Profile</button></a> <br><br> 
<a href="/logout"><button class="btn btn-outline-danger">Logout</button></a> <br><br>
</div>

</body>
</html>