<!DOCTYPE html><html><head><meta charset="UTF-8"><title>Work Gallery</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<style>
#div{
	width:600px;
	height:auto;
	margin:auto;
	margin-top:50px;
}
#opForm{
	background-color: coral;
	width:600px;
	height:auto;
	margin:auto;
	margin-top:20px;
}
#result{
	width:600px;
	height:auto;
	margin:auto;
	margin-top:10px;
}
body {
  background-image: url("https://assets1.cbsnewsstatic.com/hub/i/2020/06/08/2f20cdef-ab96-4b51-af4e-cb44d4a4d68f/oceans-sun-promo.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

</style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
function showOp(){
	$("#opForm").show();
}
</script>
</head><body class="container-fluid">    
<button class="btn btn-primary" onclick="showOp()">Operation</button>
<br> <br>
<div  class="card" id="opForm" align="center" style="display:none"> 
<form>
Bid:   <input type="text" name="bid"/>  <br><br>
Book Name:<input type="text" name="bookName"/>  <br><br>
Author ID:<input type="text" name="UID"/>  <br><br>
Author Pen Name:<input type="text" name="penName"/>  <br><br>
<input type="hidden" id="queryOnly" name="queryOnly" th:value="${queryOnly}"/>
<input type="hidden" id="role" name="role" th:value="${role}"/>
<button id="searchBtn" value="Search" formaction="/queryAuthBook" class="btn btn-outline-secondary"> Search </button>
<button id="addBtn" value="Insert" formaction="/addAuthBook" class="btn btn-outline-secondary"> Insert </button>
<button id="delBtn" value="Delete" formaction="/deleteAuthBook" class="btn btn-outline-secondary"> Delete </button>
</form>
</div> 
<p th:text="${submit_res}" style="color:red"></p>

<div  class="card" id="div" align="center">       
<table class="table table-hover table-striped">            
<tr>                
<th class="card-header text-center bg-danger text-light">Book Id</th>                
<th class="card-header text-center bg-primary text-light">Book Name</th>     
<th class="card-header text-center bg-info text-light">Author Id</th> 
<th class="card-header text-center bg-secondary text-light">Author Pen Name</th>                       
</tr>         
<tr th:each="authBook,iterStat:${authBookList}">                
<td align="center" th:text="${authBook.bid}"></td>                
<td align="center" th:text="${bookList[iterStat.index].book_name}"></td>                
<td align="center" th:text="${authBook.UID}"></td>   
<td align="center" th:text="${authList[iterStat.index].pen_name}"></td>                        
</tr>    
 </table>    
 </div>
 
 <a id = "homeButton" href="/index"><button class="btn btn-info">Home</button></a>    
  <a href="/logout"><button class="btn btn-danger">Logout</button></a>                                    
 </body>
 
 <script>
if($("#queryOnly").val()=="true") {
	$("#searchBtn").show();
	$("#delBtn").hide();
	$("#addBtn").hide();
} else {
	$("#searchBtn").show();
	$("#delBtn").show();
	$("#addBtn").show();
}

if($("#role").val()=="STAFF") {
	$("#searchBtn").show();
	$("#delBtn").show();
	$("#addBtn").show();
} else {
	$("#searchBtn").show();
	$("#delBtn").hide();
	$("#addBtn").hide();
}

</script>
<script type="text/javascript">

var role = document.getElementById("role").value;
    if (role == "AUTHOR") { // use == to compare value
        document.getElementById("homeButton").href="/authorHome"; 
    } else if (role == "CUSTOMER"){
        document.getElementById("homeButton").href="/customerHome";
    } else if (role == "ADMIN"){
    	document.getElementById("homeButton").href="/adminHome";
    } else if (role == "STAFF"){
    	document.getElementById("homeButton").href="/empHome";
    }
</script>


 